@model IEnumerable<UserAwards.Models.PersonLinkAwardModel>

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
	@Html.ActionLink("New", "NewAttachAward")
</p>


<script type="text/javascript">
		$(document).ready(function () {
			$(function () {
				$('body').on('click', '.img-thumbnail',
					function (e) {
					var btn = $(e.target);
					var url = "/PersonLinkAward/ModalAction/";
						var awardId = btn.data('awardid');
						$.post(url, {id:awardId})
						.done(function(response) {
							$("#listOfCustomers").html(response);
							$('#listOfCustomers .modal').modal({});
						})
						.fail(function() {
							alert("error");
						});
				});
			});
		});
</script>


<div  id="listOfCustomers">
</div>

	<table>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.PersonModelData.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PersonModelData.Birthdate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PersonModelData.Age)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.AwardModelData.Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.AwardModelData.Description)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.AwardModelData.ImageData)
			</th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.PersonModelData.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PersonModelData.Birthdate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PersonModelData.Age)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.AwardModelData.Title)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.AwardModelData.Description)
				</td>
				<td>


					<img class="img-thumbnail"
						 width="30" height="30"
						 title="@item.AwardModelData.Title"
						 data-AwardId="@item.AwardModelData.Id"
						 src="@Url.Action("GetImage", "Award", new {item.AwardModelData.Id})" />

				</td>
			</tr>
		}
	</table>
