<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title - My ASP.NET MVC Application</title>
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<meta name="viewport" content="width=device-width" />
	<style>
		.modal-content {
			width: 600px;
			margin: 30px;
		}
	</style>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")

</head>
<body>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/jqueryval")

	<div id="modal-container" class="modal fade"
		 tabindex="-1" role="dialog">
		<div class="modal-content">
		</div>
	</div>

	@RenderSection("scriptStile", false)

	<header>
		<div class="content-wrapper">
			<div class="float-right">
				<nav>
					<ul id="menu">
						<li>@Html.ActionLink("Awards of person", "Index", "PersonLinkAward")</li>
						<li>@Html.ActionLink("Persons", "Index", "Person")</li>
						<li>@Html.ActionLink("Awards", "Index", "Award")</li>
						<li>@Html.ActionLink("Test error page", "TestError", "Error")</li>
					</ul>
				</nav>
			</div>
		</div>
	</header>

	<div id="body">
		@RenderSection("featured", required: false)
		<section class="content-wrapper main-content clear-fix">

			@*@if (ViewContext.RouteData.Values["controller"].ToString().ToLower() != "Person" &&
				ViewContext.RouteData.Values["controller"].ToString().ToLower() != "Award")
			{
				<ol class="breadcrumb">
					<li>
						@Html.ActionLink("Person Award", "Index", "PersonLinkAward")
					</li>
					<li>
						@Html.ActionLink("Index", "Index", ViewContext.RouteData.Values["controller"].ToString())
					</li>
					@if (!string.IsNullOrEmpty(ViewContext.RouteData.Values["action"].ToString()) && ViewContext.RouteData.Values["action"].ToString() != "Index")
					{
						<li class="active">
							@Html.ActionLink(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["action"].ToString())
						</li>
					}
				</ol>
			}*@

			@RenderBody()
		</section>
	</div>
	<footer>
		<div class="content-wrapper">
			<div class="float-left">
				<p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
			</div>
		</div>
	</footer>

	@RenderSection("scripts", required: false)
</body>
</html>
