<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET MVC Application</title>
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<style>
		.modal-content {
			width: 600px;
			margin: 30px;
		}
	</style>

</head>
<body>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/bootstrap")
	@Styles.Render("~/Content/css")

@RenderSection("scriptStile", false)

<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li>@Html.ActionLink("Awards of person", "Index", "PersonLinkAward")</li>
				<li>@Html.ActionLink("Persons", "Index", "Person")</li>
				<li>@Html.ActionLink("Awards", "Index", "Award")</li>
				<li>@Html.ActionLink("Test error page", "TestError", "Error")</li>
				<li>@Html.ActionLink("UserModel", "Index", "UserManage")</li>

			</ul>
			@Html.Partial("_LoginPartial")
		</div>
	</div>
</div>


@if ((ViewContext.RouteData.Values["controller"].ToString().ToLower() != "Award") &&
     (ViewContext.RouteData.Values["controller"].ToString().ToLower() != "Person"))
{
	<ol class="breadcrumb">
		<li>
			@Html.ActionLink("Person Award", "Index", "PersonLinkAward")
		</li>
		<li>
			@Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString(), "Index", ViewContext.RouteData.Values["controller"].ToString())
		</li>

		@if (ViewContext.RouteData.Values["action"]!=null && 
			!string.IsNullOrEmpty(ViewContext.RouteData.Values["action"].ToString()) 
			&& ViewContext.RouteData.Values["action"].ToString() != "Index")
		{
			<li class="active">
				@Html.ActionLink(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["action"].ToString())
			</li>
		}
	</ol>
}

<div class="container body-content">
	@RenderBody()
	<hr/>
	<footer>
		<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
	</footer>
</div>

@RenderSection("scripts", required: false)
</body>
</html>
