@model UserAwards.Models.AwardModel

@{
	ViewBag.Title = "Details";
	Layout = "~/Views/Shared/_LayoutAward.cshtml";
}

<h2>Details</h2>
@if(Model!=null)
{
<fieldset>
	<legend>AwardModel</legend>

	<div class="display-label">
		@Html.DisplayNameFor(model => model.Title)
	</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Title)
	</div>

	<div class="display-label">
		@Html.DisplayNameFor(model => model.Description)
	</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Description)
	</div>

	<div class="display-label">
		@Html.DisplayNameFor(model => model.ImageData)
	</div>
	<div class="display-field">
		<img class="img-thumbnail" width="150" height="150"
			 src="@Url.Action("GetImage", "Award", new { Model.Id })" />
	</div>

</fieldset>
}
else
{
<div class="display-label">
	@Html.DisplayName("data not found")
</div>
}
<p>
	@if (Model != null)
	{
		@Html.ActionLink("Edit", "Edit", new { id = Model.Id })
	}
	@Html.ActionLink("Back to List", "Index")
</p>
