@using UserAwards.Models.Helpers
@model UserAwards.Models.AwardModel

@{
	ViewBag.Title = "Edit";
	Layout = "~/Views/Shared/_LayoutAward.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Award", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)

	<fieldset>
		<legend>AwardModel</legend>

		@Html.HiddenFor(model => model.Id)

		<div class="editor-label">
			@Html.LabelFor(model => model.Title)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Title)
			@Html.ValidationMessageFor(model => model.Title)
		</div>

		<div class="editor-label">
			@Html.LabelFor(model => model.Description)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Description)
			@Html.ValidationMessageFor(model => model.Description)
		</div>

		<div class="form-group">
			<div style="position:relative;">
				<label>Картинка</label>
				<a class='btn' href='javascript:;'>
					Выберите файл...
					<input type="file" name="Image" size="40"
						   style="position:absolute;z-index:2;top:0;
                                left:0;filter: alpha(opacity=0); opacity:0;
                                background-color:transparent;color:transparent;"
						   onchange='$("#upload-file-info").html($(this).val());'>
				</a>
				<span class='label label-info' id="upload-file-info"></span>
			</div>
			@if (Model.ImageData == null)
			{
				<div class="form-control-static">Нет картинки</div>
			}
			else
			{
				<img class="img-thumbnail" width="150" height="150"
					 src="@Url.Action("GetImage", "Award", new{Model.Id})" />
			}
		</div>
		<p>
			<input type="submit" value="Save" />
		</p>
	</fieldset>}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>

